@font-face {
    font-family: Metavers;
    src: url(assets/fonts/Metavers.otf);
}

@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway-Regular.ttf);
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Raleway;
}

.scrollImg-1,
.scrollImg-2,
.scrollImg-3 {
    position: relative;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.scrollImg-1 {
    background-image: url("assets/pictures/img_parallax.jpeg");
    min-height: 400px;
}

.scrollImg-2 {
    background-image: url("assets/pictures/img_parallax2.jpeg");
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.scrollImg-3 {
    background-image: url("assets/pictures/img_parallax3.jpeg");
    height: 350px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.h1 {
    background-color: #111;
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
    font-family: Metavers;
    font-size: 60px;
}

#menuBoxHeader,
#menuBox {
    padding: 1%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #111;
    border-radius: 15px;
}

#menuBoxHeader {
    width: 50%;
    margin: 0 auto;
}

#menuBox {
    background-color: #111;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.menuBoxChild,
.menuBoxBtn {
    display: inline-block;
    padding: 8px;
    margin: 15px;
    cursor: pointer;
    transform-origin: center;
    transition: color 200ms linear, border 200ms linear;
    position: relative;
    border-bottom: transparent 5px solid;
}

.menuBoxBtn:hover {
    color: #ad4444;
    border-bottom: #ad4444 5px solid;
}
#searchBox{
    border-radius: 15px;
    padding-left: 20px;
    height: 30px;
    margin-left: 60px;
    margin-right: -5px;
}

#aboutBox {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(to bottom, rgb(17, 17, 17, 0.8), rgb(17, 17, 17, 0.5));
    border-radius: 15px;
}

#aboutBox a {
    color: #91e6f5;
    cursor: pointer;
    text-decoration: none;
}

.myPhoto {
    width: 15%;
    border-radius: 15px;
}

#loadingDiv {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.scrollImg-3::-webkit-scrollbar ,body::-webkit-scrollbar {
    width: 20px;
}

.scrollImg-3::-webkit-scrollbar-track, body::-webkit-scrollbar-track  {
    background: #f1f1f1;
    cursor: pointer;
}

.scrollImg-3::-webkit-scrollbar-thumb , body::-webkit-scrollbar-thumb{
    cursor: pointer;
    background: linear-gradient(45deg, #f59c2f, #ad4444);
    height: 80px;
}

.scrollImg-3::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover  {
    background: linear-gradient(45deg, #f59c2f, #ad4444);
}

#coinImg {
    display: flex;
    align-items: center;
    margin-top: 360px;
    margin-left: 100px;
    font-size: 25px;
    color: #fff;
}

#coinImg img {
    margin-left: 10px;
    width: 80px;
}

.errorDiv {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.errorDiv div {
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

.errorDiv>div {
    background-image: linear-gradient(rgb(156, 58, 58, 0.8), rgb(156, 58, 58, 0.8));
    border-radius: 15px;
}

#coinsBox {
    width: 100%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#coinsBoxBtnBox{
    display: flex;
    justify-content: center;
    gap: 15%;
}
#minCoinNumBtn, #maxCoinNumBtn,#coinDisplayDiv, #searchResult{
    all: unset;
    padding: 10px;
    border-radius: 15px;
    background-image:linear-gradient(rgba(188, 49, 3, 0.9),rgb(95, 37, 0,0.9));
    cursor: pointer;
    color: #fff;
    transition: transform 200ms ease;
}
#minCoinNumBtn:hover, #maxCoinNumBtn:hover{
    transform: scale(1.1);
}
#coinDisplayDiv{
    cursor: default;
}
.coin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    color: #f1f1f1;
    background-image:linear-gradient(rgba(188, 49, 3, 0.9),rgb(95, 37, 0,0.9));
    padding: 10px;
    border-radius: 15px;
    margin-top: 2%;
    gap: 3px;
}

.coinDynamicInfoDiv {
    padding: 3px;
    font-weight: bold;
    min-height: 30px;
}

.coinDynamicInfoDiv>span {
    font-weight: normal;
    font-size: 16px;
}

.coinBtn {
    background-color: #f59c2f;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    color: #111;
}
.toggleBox, .coinChoice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.toggleToFollow {
    border: 2px solid #f59c2f;
    border-radius: 15px;
    height: 20px;
    cursor: pointer;
    width: 30%;
}
.toggleToFollowInner{
    background-color:#434343 ;
    width: 60%;
    border-radius: 10px;
    height: 20px;
    /* color: #07025a; */
}
#showSpecificCoinBox{
    position: fixed;
    width: 30%;
    height: 60%;
    background-image:linear-gradient(rgba(25, 12, 83, 0.9),rgb(95, 37, 0,0.9));
    top: 15%;
    left: 35%;
    border-radius: 15px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    transition: opacity 300ms linear;
}
.specificCoinImg{
    width: 20%;
}
.hiddenSpecificCoinBox, .hiddenChooseCoinToStopFollowingBox{
    visibility: hidden;
    opacity: 0;
}
.lockScroll{
    overflow: hidden;
    cursor: wait;
}
#closeSpecificCoinBox{
    background-color: #ad4444;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
}
.lockClick{
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
.allowClick{
    pointer-events: all;
}
.chooseCoinToStopFollowingBox{
    position: fixed;
    width: 50%;
    height: 60%;
    background-image:linear-gradient(rgba(25, 12, 83, 0.9),rgb(95, 37, 0,0.9));
    top: 15%;
    left: 25%;
    border-radius: 15px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    transition: opacity 300ms linear;
    padding: 2%;
}
.choiceBox{
    width: 50%;
    margin-left: 25%;
}
.choiceName{
    width: 90%;
}
.chooseCoinApprovalBox> span{
    font-size: 18;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
#closeChoose{
    background-color: #ad4444;
}
.extraName{
    font-weight: bolder;
    text-decoration: underline;
}
#saveChangesChoose{
    background-color: #f59c2f;
    cursor: not-allowed;
}
#saveChangesChoose:hover, #closeChoose:hover{
    border: #000 2px solid;
}
#ChangeFollowedCoinsFromLivePage{
    max-width: 50px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #111;
    z-index: 1;
    cursor: pointer;
    margin: 10px;
}
#invalidCoins{
    max-width: 300px;
    position: absolute;
    top: 330px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}
#searchResult{
    cursor: default;
}